<% if coupon %>
  <dt>Código</dt>
  <dd><%= coupon.title %></dd>
  <% if coupon.active? %>
    <%= link_to t('coupons.link.cancel'), cancel_coupon_path(coupon), method: :post,
                                        data: {confirm: t('confirm.inactivate')}%>
  <% end %>
<% else %>
  <p>Cupom não encontrado</p>
<% end %>


